# Binaries
/bin/
/build/
/dist/

# Wails
/frontend/dist/
/frontend/src/wailsjs/
/frontend/node_modules/
/cmd/client/build/
/cmd/client/wails.json


# Go
/vendor/
go.sum
*.exe
*.test
*.out
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Sensitive
config.yaml
*.env
