@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #f3f4f6;
}